.project-nav {
    position: fixed;
    button {
        display: none;
    }
    ul {
        flex-direction: column;
        z-index: 50;
        @include centre();
        a {
            display: block;
            padding: 20px;
        }
    }
    overflow: hidden;
    @include centre();
    background: rgba($bg-project-nav, 0);
    transition: 0.5s;
}
.view-small .project-nav {
    width: 100%;
    height: 0;
    bottom: 0px;
    left: 0px;
    z-index: 20;
    button {
        display: block;
        //opacity: 0;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 60px;
        background: $bg-main-nav;
        outline: none;
        border: none;
        transition: $duration__scroll-transition;
        @include centre();
    }
    .menu-icon {
        opacity: 0;
        transition: $duration__scroll-transition;
    }
}
.view-small.hide-on-scroll {
    button {
        z-index: 9999;
        height: 45px;        
    }
    .menu-icon {
        opacity: 1;
    }
}
.project-nav.expanded {
    background: rgba($bg-project-nav, 0.9);    
    height: calc(100%);
    z-index: 20;
    @include testing(blue);
}
.view-wide .project-nav {
    //margin-left: 80px;
    margin-top: 25vh;
    @media only screen and (min-width: 1300px){
        margin-left: 40px; 
    }
    @media only screen and (min-width: 1400px){
        margin-left: 60px; 
    }
    @media only screen and (min-width: 1600px){
        margin-left: 80px; 
    }
}