
html, body, .app-wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}
body {
  background: $colour__bg-main;
}

.header-nav, .main {
  @include testing();
}

.app-wrapper {
  //background: url('https://s3.ca-central-1.amazonaws.com/areisle-portfolio/kitchen.jpg');
  background-size: cover;
  background-position: center center;
}

.view-wide {
  //show nav on either side?
  >div, .header-nav {
    margin: 0 calc(#{$main-nav-button-width} + #{$next-prev-btn-width});
  }
}
.main-title {
  height: $header-title-height;
}
.app-wrapper > div {
  position: relative;
}
.view-wide .app-wrapper > div {
  width: calc(100% - 2 * #{$main-nav-button-width});
}

.main-title {
  transition: opacity 1s;
}
.home {
  .header-nav .hide {
    visibility: hidden;
    opacity: 0;
  }
}
.main {
  margin: #{$main-margin-top};
  width: calc(100% - 2 * #{$main-margin-sides});
  max-height: 100vh;
  position: fixed;
  overflow: auto;
  left: 0px;
  top: 0px;
  padding-top: calc(#{$header-title-height} - #{$main-margin-top});
  padding-bottom: calc(#{$header-title-height} - #{$main-margin-top});
  height: calc(100vh - #{$main-margin-top} - #{$main-margin-bottom});
}
.view-wide .main {
  margin: #{$main-margin-top} calc(#{$main-nav-button-width} + #{$main-margin-sides}) 0px;
  width: calc(100% - 2 * #{$main-margin-sides} - 2 * #{$main-nav-button-width});
  height: calc(100vh - #{$main-margin-top});
}
header.main {
  height: calc(100vh - 2 * #{$header-title-height} - #{$main-margin-top});
  @include centre();
  flex-direction: column;
}
.view-small header.main {
  height: calc(100vh - #{$main-margin-top} - #{$main-margin-bottom});
}
.main {
  z-index: 1;
}
.main-title {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  z-index: 10;
  display: fixed;
}
.main-title header {
  display: flex;
  height: 100%;
  align-items: baseline;
  padding: 7px 0px;
   * {padding-right: 10px;}
}
.view-small {
  .main-title, .main-title * {
    transition: $duration__scroll-transition;
  }
  &.hide-on-scroll {
    .main-title {
      height: 40px;
      width: 100%;
      p {
        padding-left: 20px;
      }
    }
  }
  .main > :last-child {
    padding-bottom: 60px;
  }
}
@import "project";
//@import "project-container";
@import "projects-container";
