.projects-container {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, 20vh);
  
  @for $i from 1 through 4 {
    $c: nth($colours-70s, $i);
    $d: $i + 4;
    $e: nth($colours-70s-text, $i);
    .project:nth-of-type(#{$i}), .project:nth-of-type(#{$d}) {
      background-color: $c;
    }
    .project:nth-of-type(#{$i})::after, .project:nth-of-type(#{$d})::after {
      background-color: $c;
    }
    .project:nth-of-type(#{$i}) a *, .project:nth-of-type(#{$d}) a * {
      color: $e;
    }
  }
  .project {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:hover a * {
      color: $colour__70s-dark-grey;
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover::after {
      opacity: 0;
    }
    a {
      z-index: 2;
      @include full-size();
      @include centre();
      flex-direction: column;
      position: relative;
      background-size: 15px 15px;
      background-repeat: no-repeat;
      * {
        transition: 0.5s;
      }
      
    }
  }
  .project:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: white;
    outline: 5px solid white;
    opacity: 0;
    //background-image: url('../images/circle.svg');
    //background-color: $bg-project-container;
    
    transition: 0.5s;
  }
  $spacing: 0px;
  .project:after {
    
    content: '';
    display: block;
    position: absolute;
    left: calc(#{$spacing} / 2);
    top: calc(#{$spacing} / 2);;
    width: calc(100% - #{$spacing});
    height: calc(100% - #{$spacing});
    //background: white;
    z-index: 1;
    opacity: 0.5;
    transition: 0.5s;
  }
  &.columns-2, &.columns-3, &.columns-4 {
    @for $i from 1 through 7 {
      .project:nth-of-type(#{$i}) {
          grid-area: image-#{$i};
      }
    }
  }
  &.columns-1 {
    grid-auto-rows: minmax(200px, 27vh);
  }
  &.columns-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"image-1 image-2"
                        "image-3 image-2"
                        "image-3 image-4"
                        "image-5 image-5"
                        "image-6 image-7"
                        "image-6 image-8";
  }
  &.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;      
    grid-template-areas: "image-2 image-1 image-1"
                         "image-3 image-1 image-1"
                         "image-3 image-4 image-5"
                         "image-6 image-4 image-5"
                         "image-6 image-7 image-7"
                         "image-8 image-7 image-7";
    grid-gap: 15px;
  }
  &.columns-4 {
    padding: 0px 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;      
    grid-template-areas: "image-1 image-1 empty-1 empty"
                         "image-1 image-1 image-3 empty"
                         "image-4 image-2 image-2 image-5"
                         "empty-2 image-2 image-2 image-7"
                         "image-8 image-9 image-6 image-6"
                         "image-8 image-9 image-6 image-6";
    grid-auto-rows: minmax(140px, 20vh);
    grid-gap: 15px;
  }
}