//breakpoints
$breakpoint-0: 400px;
$breakpoint-1: 500px;
$breakpoint-2: 600px;
$breakpoint-3: 800px;
$breakpoint-4: 1200px;
$breakpoint-5: 1800px;
//colours
$navy: rgb(100, 100, 255);

//component sizes
$main-nav-height: 60px;