
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}

.main-nav {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  pointer-events: none;
  background: $bg-main-nav;
  @include testing(orange);
  a {
    @include testing(green);
    @include full-size();
    @include centre();
    z-index: 10;
    pointer-events: all;
  }
  ul {
    @include clean-list();
  }
  li {
    height: 100%;
  }
}
.header-nav, .main {
  @include testing();
}

.view-small {
  .main-nav {
    z-index: 10;
    
    height: $main-nav-height;
    ul {
      display: flex;
      height: 100%;
      justify-content: space-around;
    }
    li {
      z-index: 10;
    }
    span {
      letter-spacing: 0.7em;
    }
  }
}

.view-wide {
  //show nav on either side?
  >div, .header-nav {
    margin: 0 calc(#{$main-nav-button-width} + #{$next-prev-btn-width});
  }
  .main-nav {
    height: 100vh;
    li {
      position: absolute;
      width: $main-nav-button-width;
      span {
        letter-spacing: 1em;
      }
    }
    li:first-of-type {
      left: 0px;
      span {
        transform: rotate(-90deg);
      }
    }
    li:last-of-type {
      right: 0px;
      span {
        transform: rotate(90deg);
      }
    }
  }
}
.main-title {
  height: $header-title-height;
}
.app-wrapper > div {
  position: relative;
}
.view-wide .app-wrapper > div {
  width: calc(100% - 2 * #{$main-nav-button-width});
}

.main-title {
  transition: opacity 1s;
}
.home {
  .header-nav .hide {
    visibility: hidden;
    opacity: 0;
  }
}
.main {
  margin: #{$main-margin-top};
  width: calc(100% - 2 * #{$main-margin-sides});
  max-height: 100vh;
  position: fixed;
  overflow: auto;
  left: 0px;
  top: 0px;
  padding-top: calc(#{$header-title-height} - #{$main-margin-top});
  padding-bottom: calc(#{$header-title-height} - #{$main-margin-top});
  height: calc(100vh - #{$main-margin-top} - #{$main-margin-bottom});
}
.view-wide .main {
  margin: #{$main-margin-top} calc(#{$main-nav-button-width} + #{$main-margin-sides}) 0px;
  width: calc(100% - 2 * #{$main-margin-sides} - 2 * #{$main-nav-button-width});
  height: calc(100vh - #{$main-margin-top});
}
header.main {
  height: calc(100vh - 2 * #{$header-title-height} - #{$main-margin-top});
  @include centre();
  flex-direction: column;
}
.view-small header.main {
  height: calc(100vh - #{$main-margin-top} - #{$main-margin-bottom});
}

.main-title {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  background: rgba(white, 1);
  z-index: 10;
  display: fixed;
  
  h1, p {
    margin: 0;
    padding: 5px 5px 5px 0px;
  }
  h1 {
    font-size: 1em;
  }
  p {
    font-size: 0.65em;
  }
}
.main-title header {
  display: flex;
  height: 100%;
  align-items: baseline;
  padding: 7px 0px;
   * {padding-right: 10px;}
}
.view-small {
  .main-nav, .main-title, .main-title * {
    transition: 0.5s;
  }
  &.hide-on-scroll {
    .main-nav {
      height: calc(3 * #{$main-nav-height / 4});
      span {
        font-size: 0.75em;
      }
    }
    .main-title {
      height: 40px;
      width: 100%;
      background: white;
      h1 {
        font-size: 1em;
      }
      p {
        font-size: 0.65em;
        padding-left: 20px;
      }
    }
    
  }
  .main > :last-child {
    padding-bottom: 60px;
  }
}