.view-wide {
  display: flex;
  justify-content: space-around;
}
.view-small {
  .panel.inactive {
    display: none;
  }
  .about, .contact-form {
    margin: 0 auto;
  }
}
html, body, .main {
  margin: 0;
  padding: 0;
  
}
html, body {
  width: 100%;
  min-height: 100vh;
}
.main {
  @include testing(purple);
}
.panel {
  width: 100%;
  padding-bottom: $main-nav-height;
  h2 {
    margin: 1em;
  }
}
*::-webkit-scrollbar {
  display: none;
}
.panel-2 {
  @include testing(green);
}
.panel-1 {
  @include testing(orange);
}
.panel > *:last-child {
  margin-bottom: $main-nav-height;
}

@media only screen and (min-width: $double-panels-60-40) {
  .panel {
    width: 50%;
    max-height: 100vh;
    overflow-y: auto;
    flex-grow: 0;
    transition: width 0.3s, background 0.7s;
  }
  .panel.inactive {
    width: 30%;
  }
  .panel.active {
    flex-grow: 4;
    display: flex;
    justify-content: space-evenly;
  }
}

.about {
  max-width: 300px;
  padding: 20px;
}

.view-small {
    .header-nav {
    height: $main-nav-height;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    .main-nav {
      height: 100%;
      width: 100%;
      max-width: 500px;
    }
    h1, h2 {
      //display only logo here
      padding: 0;
      margin: 0;
      width: 60px;
      display: none;
    }
    ul {
      @include clean-list();
      display: flex;
      height: 100%;
    }
    li {
      width: 100%;
      height: 100%;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      @include testing(blue);
      height: 100%;
      background: lightgray;
    }
    a {
      width: 100%;
      text-decoration: none;
    }
  }
}