@import "functions";
@import "variables";
@import "layout";
@import "project";
@import "icons";
@import url('https://fonts.googleapis.com/css?family=Buda:300|Heebo:100|Italiana|Tenor+Sans|Uncial+Antiqua');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
//  font-family: 'Tenor Sans', sans-serif;
//font-family: 'Italiana', serif; //okay, but not my favourite
//font-family: 'Uncial Antiqua', cursive; //just awful 0/10
font-family: 'Heebo', sans-serif;// 5/10 better as lowercase than upper
//font-family: 'Buda', cursive; 2/10
//  text-transform: uppercase;
  font-weight: 500;
}

.header-nav {
  height: $main-nav-height;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  .main-nav {
    height: 100%;
    width: 100%;
    max-width: 500px;
  }
  h1 {
    //display only logo here
    padding: 0;
    margin: 0;
    width: 60px;
    display: none;
  }
  ul {
    @include clean-list();
    display: flex;
    height: 100%;
  }
  li {
    width: 100%;
    height: 100%;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    @include testing(blue);
    height: 100%;
    background: lightgray;
  }
  a {
    width: 100%;
    text-decoration: none;
  }
}
