
.slick .slide {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}
.slick:not(.unslicked) .slide {
    padding-left: 10px;
    padding-right: 10px;
    @include centre();
    min-height: 200px;
    @media only screen and (min-width: 400px) {
      //height: 200px;    
    }
    @media only screen and (min-width: 600px) {
      height: 500px;    
    }
  //@include testing(rgb(41, 99, 187));
}
.slick:not(.unslicked) {
  @media only screen and (min-width: 600px) {
    margin-left: 30px;
    margin-right: 30px;
  }    
  
}
.slick-wrapper {
  background: grey;
}
.slick-prev:before, .slick-next:before {
  color: black;
}
.slick-next {
  right: -5px;
}
.slick-prev {
  left: -5px;
}
.aer_slick {
  overflow: hidden;
  position: relative;
  z-index: 10;
  background: grey;
  min-height: 100px;
  max-width: 100%;
  .btn-next, .btn-prev {
    position: absolute;
    width: 40px;
    height: 50px;
    top: calc(50% - 20px);
    z-index: 100;
    padding: 0;
  }
  .btn-next {
    right: 0px;
  }
  .btn-prev {
    left: 0px;
  }
  ul {
    display: flex;
    align-items: center;
    transition: 0.3s;
    pointer-events: none;
    //height: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  img {
    object-fit: scale-down;
    max-width: 100%;
    display: block;
    max-height: 100%;
    margin: 0 auto;
  }
  li {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }
}
.text-slides {
  background: grey;
  ul {
    position: relative;
    width: 100%;
    min-height: 50px;
  }
  li {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
  }
  li.show {
    opacity: 1;
  }
}
.slide {
  .description {
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.8);
  }
  figure {
    padding: 0;
    margin: 0;
  }
}




