.project-overview {
  .other {
    position: relative;
    margin-bottom: 100px;
    padding: 1px 10px 15px;
    * {
      position: relative;
      z-index: 1;
    }
  }
  .other::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    z-index: 0;
    background: rgba(white, 0.4);
  }
  .project-external-links {
    position: absolute;
    bottom: -100px;
  }
  .project-categories * {
    display: inline; 
  }
  .project-demos {
    font-size: 0.75em;
  }
}
.view-wide .project-overview {
  .project-title {
    z-index: 2;
    position: relative;
    margin-left: -100px;
  }
  .other {
    margin-top: -50px;
    padding: 50px;
    margin-bottom: 40px;
  }
  .project-external-links {
    right: 60px;
    bottom: -40px;
    display: flex;
  }
}
.project-overview .other {
  background-color: nth($colours-70s, 4);
  background-position: center center;
  background-size: cover;
}