.icon {
  width: 1.5em;
  height: 1.5em;
  padding: 5px;
  
  img {
    object-fit: contain;
  };
}
.icons-container {
  max-width: 200px;
  @include clean-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0.15;
  &:hover {
    opacity: 0.3;
  }
}
